<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.otelpt.fastclas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="com.versatile.fastclas.activities.PDFActivity"></activity>
        <activity
            android:name="com.versatile.fastclas.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.versatile.fastclas.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.versatile.fastclas.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.versatile.fastclas.activities.AskQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.AboutFastclasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.versatile.fastclas.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.versatile.fastclas.activities.TermsandconditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.AllUnitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.SessionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.SessionsInnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.DiscussionForumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.YoutubeVideoPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.versatile.fastclas.activities.AnswersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.NotificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <receiver android:name="com.versatile.fastclas.receiver.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.versatile.fastclas.activities.DashBoardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.DashBoardCourseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.MyOrdersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.DescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.FullImagesSlidingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.OfferPriceAcivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.versatile.fastclas.activities.PackagesActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>