<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.versatile.fastclas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.AskQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutFastclasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.TermsandconditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllUnitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SessionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SessionsInnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DiscussionForumActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>